* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #040062;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

header {
    display: flex;
    padding-block: 28px;
    padding: 28px 60px 0 60px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1304px;
    
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

.header__logo {
    color: var(--blue);
    
}   

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0013FF;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}