* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #040062;
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

header {
    display: flex;
    padding-block: 28px;
    padding: 28px 60px 0 60px;
}

.container {
    margin: 0 auto;
    width: 1296px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

.header__logo {
    color: var(--blue);
    
}   

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0013FF;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.description__container {
    margin-top: 90px;
}

.description__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    object-fit: cover;
    padding-block: 70px;
}

.description__img--blue {
    background-color: #C7E3E9;
}

.description__img--red {
    background-color: #FEF1EF;
}

.description__pic {
    width: 234px;
    height: 508px;
}


.description__card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 170px 100px;
}

.description__title {
    font-size: 48px;
    font-weight: normal;
    color: var(--blue);
}

.description__text {
    font-size: 18px;
    color: #6D758D;
    
}
